/* nav bar */
.nav-bar {

background-color: black;

}
.flex{
  display:flex;
  flex-direction: row-reverse;
}
ul {

  list-style-type: none;
  color: black;
margin: 0;
padding:0;
}

li {

  color: yellow;
  padding: 15px;

}

li a {
  display:block;
  color: pink;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: grey;
}

#About-Me {
  background-color: purple;
}
