/* nav bar */
.nav-bar {
  padding: 1em;
  margin: auto;
  background-color: black;
  overflow: hidden;

}

ul {

  list-style-type: none;
  color: black;
margin: 0;
padding:0;
}

li {
  float: right;
  color: yellow;
  padding: 15px;

}

li a {
  display:block;
  color: pink;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: grey;
}
